<aside class="widget border pos-padding">
    <h3 class="widget-title text-uppercase text-center">Categories</h3>
    <ul>
    {{cats}}
    <!--{{#each cats}}-->
        <!--<li><a href="#">{{this.title}}</a><span class="post-count pull-right"> (2)</span></li>-->
    <!--{{/each}}-->
    </ul>
    {{cats}}
</aside>